{% extends 'allPageTemplate.html' %}
{% load staticfiles %}
{% block title %}
  Schedule - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid jumbotron-black">
  <img class="jumbotron-general-pic" src="{% static 'images/general-page-logo.jpg' %}" alt="general page logo" />
  <div class="container text-light">
    <h1 class="display-4 jumbotron-grey jumbotron-text-right">Wrestling Schedule</h1>
  </div>
</div>
<table class="table-sm table-striped table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">DATE</th>
      <th scope="col">OPPONENT</th>
      <th scope="col">RESULT</th>
      <th scope="col">TIME</th>
      <th scope="col">LINK</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
{% endblock content %}
